{% extends "base.html" %}

{% block head %}
    <title>Leaderboard</title>
    <style>
      .foot{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;

}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.title-block{
	background-color: white;
}
</style>
{% endblock head %}

{% block content %}
	<div class="title-block">
		<p>Leader Board</p>
	</div>
    <table>
  <tr>
    <th>Name</th>
    <th>Rank</th>
    <th>Score</th>
  </tr>
    <div>
    {% for index, user in users %}
    <tr>
    	<td>{{ user.username }}</td>
    	<td>{{ index + 1 }}</td>
    	<td>{{ user.score }}</td>
        
     </tr>
    {% endfor %}
    </div>

   </table>
{% endblock content %}