{% extends "base.html" %}

{% block head %}
    <title>Login | HackerRank</title>
    <style type="text/css">

    .foot{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;

}
        .login-box {   
    top: 0;
    padding-top: 0;
    margin: auto;
    position:relative;
    width: 400px;
    height: 100%;
}
    </style>

{% endblock head %}

{% block content %}
<div align="center">
    <div class="" >
        <div id="login-logo">
            <img src="{{ url_for('static', filename='images/login-logo.png') }}" width="200px" height="60px">
        </div>
        <div class="login-box">
            <div id="login-form">
                <div class="title-form">
                    <a href="#">Log In</a>
                </div>
                <div class="content-form">
                    <form method="post">
                        <input type="text" placeholder="Email" name="email" id="email" required>
                        <br>
                        <input type="password" placeholder="Password" name="password" id="password" required>
                        <br>
                        <button class="button-price" id="login-btn">Login</button>
                        <a class="button" href="/sign-up">Sign Up</a>
                    </form>

                </div>
            </div>
        </div>
    </div></div>
{% endblock content %}